[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
whitenoise = "*"
pipfile = "*"
gunicorn = "*"
environs = "*"

[dev-packages]
psycopg2-binary = "*"

[requires]
python_version = "3.9"
